<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        html, body {
            height: 100%;
        }
        body {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <section class="section" style="min-height: 100vh;">
        <div class="container">
            <h1 class="title">Lista de Usuarios</h1>
            <a href="/" class="button is-primary">Volver a Home</a>
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>